# Base Installation
global-exclude *
include README LICENSE AUTHORS TODO setup.py MANIFEST.in
include __init__.py model.py display.py
include doc/*.rst doc/*.py doc/*.svg
include unittest/*.py
recursive-include doc/html *
prune doc/html/.doctrees
include unittest/*.py